.site-footer {
  background-color: black;
  color: white;

  #footer-content {
    @include span-columns(12);
    height: 100%;

    #copyright {
      @include span-columns(4);
      @include shift(1);
      font-size: 0.8em;

      a {
        color: aqua;
      }
    }

    #footer-links {
      @include span-columns(6);

      ul {
        @include display(flex);
        @include justify-content(space-between);

        li {
          @include span-columns(1);
          @include shift(1);
          @include align-items(center);
        }
      }
    }
  }
}

#wtfpl, #github, #made-in-NY { @include size(63px); }
