.site-footer {
  background-color: black;
  color: white;

  #footer-content {
    @include span-columns(12);
    height: 100%;

    #copyright {
      @include span-columns(4);
      @include shift(1);
      font-size: 0.8em;

      a {
        color: aqua;
      }
    }

    #footer-links {
      @include span-columns(6);

      ul {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;

        li {
          @include span-columns(1);
          @include shift(1);
          -webkit-align-items: center;
          align-items: center;
        }
      }
    }
  }
}

#wtfpl, #github, #made-in-NY { @include size(63px); }
