html, body { height: 100%; }

.container {
  @include outer-container;
  height: 100%;
}

main,
.site-header,
.site-footer,
.sign-out {
  @include span-columns(12);
  @include omega();
}

main         { height: 65%; }
.site-header { height: 10%; }
.sign-out    { height: 10%; }
.site-footer { height: 15%; }
