body {
  @include outer-container;
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

.site-header {
  @include span-columns(12);
  @include display(flex);
  height: 5vh;
}

.site-content {
  @include display(flex);
  @include flex(1);

  main {
    @include span-columns(12);
    @include display(flex);
    @include flex(1);
  }

  .site-navigation {
    @include flex(0 0 12em);
  }
}

.sign-out {
  @include span-columns(12);
  @include display(flex);
  height: 10vh
}

.site-footer {
  @include span-columns(12);
  @include display(flex);
  height: 15vh;
}
