$color-delete:      #C94E50;
$color-overlay-red: rgba(222, 60, 80, 0.9);
$color-site-white:  #FAFAFA;

$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$lucida:  Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
          'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
          'Verdana Ref', sans-serif;

$site-font: 'Merriweather', serif;

$soulmateWidth:   25em;
$suggestionWidth: 18.75em;
