$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$lucida:  Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
          'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana,
          'Verdana Ref', sans-serif;

$overlay-red: rgba(222, 60, 80, 0.9);
$site-font: 'Merriweather', serif;
$site-white: #FAFAFA;
$soulmateWidth:   400px;
$suggestionWidth: 300px;
