#accounts {
  @include span-columns(12);

  h1 {
    @include span-columns(5);
    @include shift(1);
  }

  #accounts-content {
    @include span-columns(12);

    #accounts-list {
      @include span-columns(10);
      @include shift(1);

      li {
        border-bottom: solid 1px black;
        padding-top: 1em;

        .account-item-listing {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}

.account-delete-actions {
  display: flex;
  justify-content: space-between;
}

#account-profile {
  @include span-columns(12);

  h1 {
    @include span-columns(5);
    @include shift(1);
  }

  #account-profile-content {
    @include span-columns(10);
    @include shift(1);
  }
}
