#dashboard-wrapper {
  @include span-columns(12);

  #dashboard-header {
    @include span-columns(12);

    h1 {
      @include span-columns(4);
      @include shift(1);
    }

    #dashboard-links {
      @include span-columns(6);

      ul li {
        display: inline;
        padding-left: 0.5em;
      }
    }
  }

  #dashboard-content {
    @include span-columns(12);

    #user-performance {
      @include flexbox;
      @include flex-justice(space-between);
    }

    h2 {
      @include span-columns(4);
      @include shift(1);
    }

    .stats {
      @include span-columns(10);
      @include shift(1);
    }
  }
}
