#header-links {
  @include span-columns(12);
  @include omega();

  height: 100%;

  ul {
    @include span-columns(4);
    @include shift(8);

    height: 100%;

    li {
      display: inline;
    }
  }
}
