html, body, #container {  height: 100%; }

#container { @include outer-container; }

#site-header, #notifications, #content {
  @include span-columns(12);
  @include omega();
}

#site-header   { height: 10%; }
#notifications { height:  5%; }
#content       { height: 85%; }
