#tasks-index {
  @include span-columns(10);
  @include shift(1);
  height: 100%;

  .tasks {
    margin: 0;
    padding: 0;

    .task {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      border-bottom: solid 1px #dfdfdf;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
