.btn-nav {
  background: none;
  border: none;
  color: black;
  display: block;
  float: left;
  font-weight: 500;
  margin: 1em;
  overflow: hidden;
  padding: 0px;
  position: relative;
  vertical-align: middle;
  width: 125px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    @include position(absolute, 0 null null 0);
    @include size(100%);
    border-radius: inherit;
    border: 1px solid;
    content: '';
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
    clip-path: url(../index.html#clipBox);
    -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
}

.btn-itzel::before, .btn-itzel .btn-icon {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.btn-itzel .btn-icon {
  @include position(absolute, 100% null null 50%);
  padding: 20px;
  font-size: 1.3em;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.btn-itzel:hover::before {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.btn-itzel:hover .btn-icon {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-50%, -100%, 0);
}

.btn-itzel > span {
  display: block;
  padding: 20px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;

  &:hover {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }
}

.btn-crop {
  @include position(absolute, null 5px 5px null);
  background: black;
  border-radius: 5px;
  border: 1px solid;
  color: white;
  display: block;
  float: left;
  margin: 1em;
  width: 200px;
  overflow: hidden;
  padding: 6px 10px;
  vertical-align: middle;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

  &:before {
    @include position(absolute, 0 null null 0);
    @include size(150% 100%);
    content: '';
    background: #37474F;
    z-index: -1;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
  }

  &:hover {
    color: white;
    border-color: black;

    &:before {
      opacity: 1;
      background-color: $overlay-red;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
      transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    }
  }
}

.btn-sign-out {
  background: $site-white;
  border: 3px solid black;
  border-radius: 40px;
  color: black;
  display: block;
  float: left;
  font-size: 14px;
  margin: 1em;
  overflow: hidden;
  padding: 1.2em 2em;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;

  &:before {
    @include position(absolute, 50% null null 100%);
    @include size(30px);
    background: aqua;
    border-radius: 50%;
    content: '';
    margin: -15px 0 0 1px;
    z-index: -1;
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-transform: scale3d(1, 2, 1);
    transform: scale3d(1, 2, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.9,1);
    transition-timing-function: cubic-bezier(0.7,0,0.9,1);
  }
}

.btn-sign-out,
.btn-icon,
.btn-nav > span,
.btn-sign-out > span { vertical-align: middle; }

.btn-sign-out > span { padding-left: 0.75em; }

.btn-sign-out:hover::before {
  -webkit-transform: scale3d(9, 9, 1);
  transform: scale3d(9, 9, 1);
}
