.context-menu-interface {
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 1px 1px 2px #cfcfcf;
  display: none;
  padding: 12px 0;
  position: absolute;
  width: 240px;
  z-index: 2;

  .context-menu-items {
    margin: 0;
    padding: 0;

    .context-menu-item {
      display: block;
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      .context-menu-link {
        color: #0066aa;
        display: block;
        padding: 4px 12px;

        &:hover {
          background-color: #0066aa;
          color: #fff;
        }
      }
    }
  }
}

.context-menu-active { display: block; }
