.form-inputs { padding-top: .5em; }

.form-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding-top: 1em;
}

.form-labels-above { display: block; }
