.component {
  background: url(image-editor/gridme.png) repeat center center;
  border: 3px solid black;
  height: 500px;
  margin: 0 auto;
  width: 500px;
  overflow: hidden;
  padding: 4em;
  position: relative;

  .overlay {
    @include position(absolute, 50% null null 50%);
    @include size(200px);
    border: solid 2px $overlay-red;
    box-sizing: content-box;
    margin-left: -100px;
    margin-top: -100px;
    pointer-events: none;
    z-index: 3;

    &:before, &:after {
      @include size(204px 40px);
      border-left:  dashed 2px $overlay-red;
      border-right: dashed 2px $overlay-red;
      content: '';
      display: block;
    }

    &:before {
      @include margin(-40px null null -2px);
      @include position(absolute, 0 null null null);
    }

    &:after {
      @include margin(null null -40px -2px);
      @include position(absolute, null null 0 null);
    }

    .overlay-inner {
      &:before, &:after {
        @include size(40px 204px);
        border-bottom: dashed 2px $overlay-red;
        border-top: dashed 2px $overlay-red;
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        @include margin(-2px null null -40px);
        left: 0;
      }

      &:after {
        @include margin(-2px 40px null null);
        right: 0;
      }
    }
  }

  .resize-container {
    cursor: move;
    display: inline-block;
    margin: 0 auto;
    position: relative;
  }
}

.resize-container img { display: block; }

.resize-container:hover img,
.resize-container:active img { outline: 2px dashed $overlay-red; }

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
  @include size(10px);
  background: $overlay-red;
  display: block;
  z-index: 999;
}

.resize-handle-nw {
  @include position(absolute, -5px null null -5px);
  cursor: nw-resize;
}

.resize-handle-sw {
  @include position(absolute, null null -5px -5px);
  cursor: sw-resize;
}

.resize-handle-ne {
  @include position(absolute, -5px -5px null null);
  cursor: ne-resize;
}

.resize-handle-se {
  @include position(absolute, null -5px -5px null);
  cursor: se-resize;
}
