.component {
  background: url(image-editor/gridme.png) repeat center center;
  border: 3px solid #49708A;
  height: 500px;
  margin: 0 auto;
  max-width: 901px;
  overflow: hidden;
  padding: 4em;
  position: relative;

  .overlay {
    @include position(absolute, 50% null null 50%);
    @include size(200px);

    border: solid 2px rgba(222,60,80,.9);
    box-sizing: content-box;
    margin-left: -100px;
    margin-top: -100px;
    pointer-events: none;
    z-index: 999;

    &:before, &:after {
      @include size(204px 40px);

      border-left:  dashed 2px rgba(222,60,80,.9);
      border-right: dashed 2px rgba(222,60,80,.9);
      content: '';
      display: block;
      position: absolute;
    }

    &:before {
      @include margin(-40px null null -2px);

      top: 0;
    }

    &:after {
      @include margin(null null -40px -2px);

      bottom: 0;
    }

    .overlay-inner {
      &:before, &:after {
        @include size(40px 204px);

        border-bottom: dashed 2px rgba(222,60,80,.9);
        border-top: dashed 2px rgba(222,60,80,.9);
        content: '';
        display: block;
        position: absolute;
      }

      &:before {
        @include margin(-2px null null -40px);

        left: 0;
      }

      &:after {
        @include margin(-2px 40px null null);

        right: 0;
      }
    }
  }

  .resize-container {
    cursor: move;
    display: inline-block;
    margin: 0 auto;
    position: relative;
  }
}

.resize-container img { display: block }

.resize-container:hover img,
.resize-container:active img { outline: 2px dashed rgba(222,60,80,.9); }

.resize-handle-ne,
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
  @include size(10px);

  background: rgba(222,60,80,.9);
  display: block;
  position: absolute;
  z-index: 999;
}

.resize-handle-nw {
  cursor: nw-resize;
  left: -5px;
  top: -5px;
}

.resize-handle-sw {
  bottom: -5px;
  cursor: sw-resize;
  left: -5px;
}

.resize-handle-ne {
  cursor: ne-resize;
  right: -5px;
  top: -5px;
}

.resize-handle-se {
  bottom: -5px;
  cursor: se-resize;
  right: -5px;
}

.btn-crop {
  @include position(absolute, null 5px 5px null);

  background-color: rgb(222,60,80);
  border-radius: 5px;
  border: none;
  color: #FFF;
  padding: 6px 10px;
  vertical-align: bottom;
  z-index: 999;
}
