.notification {
  background-position: 0.8em 0.7em;
  background-repeat: no-repeat;
  color: white;
  font-weight: 700;
  opacity: 0.75;
  position: absolute;
  line-height: 1.6em;
  margin: 0 auto 20px;
  padding: 0.75em 0.75em 0.75em 45px;
  z-index: 5;

  &.notice {
    background: {
      color: #006302;
      image: image-url('notifications/notification_check.png');
    }
  }

  &.alert {
    background: {
      color: #920202;
      image: image-url('notifications/notification_x.png');
    }
  }
}
