#search { padding: 0.5em; }

#soulmate {
  @include border-radius(0.3em);
  @include box-shadow(0, 0.3em, 0.8em, rgba(0, 0, 0, 0.2));
  background-color: $color-site-white;
  border: 1px solid #BBB;
  display: none;
  font-family: $helvetica;
  margin: 0 0 0 0.9em;
  padding-left: 0;
  position: absolute;
  text-shadow: 0 0 0 white;
  width: $soulmateWidth;
  z-index: 4;

  .soulmate-type-container {
    border-top: 1px solid #DDD;

    &:first-child {
      border-top: none;
    }

    .soulmate-type-suggestions {
      border-left: 1px solid #DDD;
      float: right;
      letter-spacing: 0.5px;
      padding: 5px 0;
      width: $suggestionWidth;

      .soulmate-suggestion {
        color: #111;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        padding: 5px 0 6px 12px;

        &.focus {
          @include box-shadow(0, 1px, 2px , rgba(0,0,0,0.3));
          @include margin(null -1px null -1px);
          @include vertical-gradient(#545454, #444444);
          color: white;
          padding-left: 13px;
          position: relative;
          text-shadow: 0 1px 1px #32629B;
          z-index: 1;
        }
      }
    }

    .soulmate-type {
      @include border-radius(5px);
      @include clearfix();
      background-color: white;
      color: #333;
      font-family: $helvetica;
      font-size: 11px;
      letter-spacing: 0.5px;
      margin-right: $suggestionWidth;
      padding: 10px 10px 0 10px;
      text-align: right;
      text-transform: capitalize;
      vertical-align: top;
    }
  }
}

li.soulmate-suggestion{ text-align: left; }
