#tasks-index {
  @include span-columns(12);
  @include omega();
  height: 100%;

  .tasks {
    @include span-columns(12);
    @include omega();
    height: 100%;

    .task {
      @include span-columns(11);
      @include shift(1);
      display: inline;

      span {
        @include span-columns(3 of 11);
      }

      a {
        @include span-columns(2 of 11);
      }
    }
  }
}
