$medium-screen: em(640) !default;
$large-screen: em(860) !default;
$modal-padding: 3em;
$modal-background: white;
$modal-close-color: #DDD !default;
$modal-image-height: 135px;
$modal-image-width: $modal-image-height;
$modal-trigger-image-width: 300px;
